body {
  background-color: grey;
}

form {
  background-color: aliceblue;
  width: 300px;
  padding: 13px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

input:not(:placeholder-shown):invalid {
  border: 2px solid red;
  background-color: rgb(255, 220, 220);
}

.error {
  border: 2px solid red;
  background-color: rgb(255, 220, 220);
}

input:not([type='submit']):valid {
  border: 2px solid rgb(5, 172, 5);
}

span {
  font-size: 0.9em;
  color: red;
}
